In [1]:
from model_gens.gru_model_gen import GRUModel
from model_gens.utils.static.columns import Columns
from settings import BASE_DIR
import os

2024-07-10 14:02:51.266384: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-07-10 14:02:52.493355: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
market_predictor_open = GRUModel(
    base_data_path=os.path.join(BASE_DIR, 'last_60_steps.csv'),
    new_data_path=os.path.join(BASE_DIR, 'Datas/NEW_XAUUSD/new/^XAUUSD_7_testt.csv'),
)

/home/amar/Documents/Projects/MarketPredictor/model_gens/utils/preprocessor.py:134: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self._data[Columns.Open_Close_Diff.name].fillna(0, inplace=True)

In [3]:
market_predictor_open.load_model(column=Columns.Open)

2024-07-10 14:02:55.218753: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.277467: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.277803: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.279834: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.280286: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.280682: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.377775: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.378125: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.378355: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-07-10 14:02:55.378673: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1928] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 803 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1650, pci bus id: 0000:01:00.0, compute capability: 7.5
WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [4]:
predicted_open = market_predictor_open.prepare_latest_data_and_predict_open()

Initial feature shape: (121, 5)
Initial target shape: (121,)
Scaled feature shape: (121, 5)
Scaled target shape: (121, 1)
Sequence feature shape: (61, 60, 5)
Sequence target shape: (61, 1)
Feature set shape: (61, 60, 5)
Target shape: (61, 1)
1/2 ━━━━━━━━━━━━━━━━━━━━ 0s 661ms/step

2024-07-10 14:02:56.489488: I external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:465] Loaded cuDNN version 8906

2/2 ━━━━━━━━━━━━━━━━━━━━ 1s 489ms/step
Column name: Open
Predictions (scaled): [[0.6375426]]
Column index: 0
Placeholder shape: (1, 6)
Placeholder content: [[0.63754261 0.         0.         0.         0.         0.        ]]

In [5]:
predicted_open

array([0.15])

In [6]:
market_predictor_open.preprocessor._data

,Open,High,Low,Close,Volume,Open_Close_Diff
Date Time,,,,,,
2024-05-31 05:50:00,2344.25,2344.30,2343.99,2343.99,-0.35,0.02
2024-05-31 05:55:00,2343.97,2343.97,2343.55,2343.55,0.02,0.01
2024-05-31 06:00:00,2343.54,2343.88,2343.54,2343.88,0.01,-0.04
2024-05-31 06:05:00,2343.92,2344.18,2343.92,2344.09,-0.04,-0.02
2024-05-31 06:10:00,2344.11,2344.19,2343.92,2343.95,-0.02,0.00
...,...,...,...,...,...,...
2024-05-31 15:30:00,2328.65,2329.22,2328.65,2329.22,-0.14,-0.02
2024-05-31 15:35:00,2329.24,2329.66,2329.24,2329.60,-0.02,0.02
2024-05-31 15:40:00,2329.58,2329.59,2328.97,2328.97,0.02,0.10
2024-05-31 15:45:00,2328.87,2328.87,2327.82,2327.82,0.10,0.00
2024-06-02 21:50:00,2327.09,2327.09,2326.53,2326.53,21.00,0.00

In [7]:
last_close_val = market_predictor_open.preprocessor._data['Close'][-1]

/tmp/ipykernel_21052/1425895595.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  last_close_val = market_predictor_open.preprocessor._data['Close'][-1]

In [8]:
pred_next_diff = predicted_open[0]

In [9]:
next_open = last_close_val + pred_next_diff

In [10]:
import numpy as np
print('Last Close:', last_close_val)
print('Predicted Next Open:', np.round(next_open, 2))

Last Close: 2326.53
Predicted Next Open: 2326.68

In [11]:
market_predictor_low = GRUModel(
    base_data_path=os.path.join(BASE_DIR, 'last_60_steps.csv'),
    new_data_path=os.path.join(BASE_DIR, 'Datas/NEW_XAUUSD/new/^XAUUSD_7_testt.csv'),
)

/home/amar/Documents/Projects/MarketPredictor/model_gens/utils/preprocessor.py:134: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self._data[Columns.Open_Close_Diff.name].fillna(0, inplace=True)

In [12]:
market_predictor_low.load_model(column=Columns.Low)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [13]:
predicted_low = market_predictor_low.prepare_latest_data_and_predict_low(next_open)

Initial length of data: 122
Initial length of y: 122
Initial feature shape: (122, 23)
Initial target shape: (122,)
Scaled feature shape: (122, 23)
Scaled target shape: (122, 1)
Sequence feature shape: (62, 60, 23)
Sequence target shape: (62, 1)
Feature set shape: (62, 60, 23)
Target shape: (62, 1)
2/2 ━━━━━━━━━━━━━━━━━━━━ 1s 560ms/step
Column name: Low
Predictions (scaled): [[0.33892602]]
Column index: 2
Placeholder shape: (1, 6)
Placeholder content: [[0.         0.         0.33892602 0.         0.         0.        ]]

In [14]:
predicted_low

array([2333.48])

In [15]:
market_predictor_low.preprocessor._data

,Open,High,Low,Close,Volume,Open_Close_Diff
2024-05-31 05:50:00,2344.25,2344.30,2343.99,2343.99,-0.35,0.02
2024-05-31 05:55:00,2343.97,2343.97,2343.55,2343.55,0.02,0.01
2024-05-31 06:00:00,2343.54,2343.88,2343.54,2343.88,0.01,-0.04
2024-05-31 06:05:00,2343.92,2344.18,2343.92,2344.09,-0.04,-0.02
2024-05-31 06:10:00,2344.11,2344.19,2343.92,2343.95,-0.02,0.00
...,...,...,...,...,...,...
2024-05-31 15:35:00,2329.24,2329.66,2329.24,2329.60,-0.02,0.02
2024-05-31 15:40:00,2329.58,2329.59,2328.97,2328.97,0.02,0.10
2024-05-31 15:45:00,2328.87,2328.87,2327.82,2327.82,0.10,0.00
2024-06-02 21:50:00,2327.09,2327.09,2326.53,2326.53,21.00,0.00
2024-06-02 21:55:00,2326.68,NaN,NaN,NaN,NaN,NaN